.FormControl {
  display: block;

  &:not(:first-child) {
    margin-top: 10px;
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  span {
    display: block;
    font-size: 0.9em;
    margin-bottom: 2px;
    color: var(--color-2);
  }

  input:not([type='checkbox']),
  select,
  textarea {
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 1em;
    font-family: var(--primary-font);
  }

  .CheckboxLabel {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 4px;
  }

  input[type='checkbox'] {
    width: 12px;
    height: 12px;
    margin: 0;
  }

  textarea {
    height: 6em;
    resize: vertical;
  }
}

.FormButton {
  padding: 10px 15px;
  background: var(--color-2);
  border: 1px solid var(--header-color);
  cursor: pointer;
}

.Fieldset {
  border: 2px solid black;
  padding: 10px;

  legend {
    text-align: center;
  }
}
